<div class="body">
    <div class="reporte">
        <div class="titulo">
            <h2>
                GENERAR REPORTE
            </h2>
        </div>
        <div class="texto">
            <h3>
                EN ESTA VENTANA PUEDES GENERAR EL REPORTE DE TODOS LOS CLIENTES REGISTRADOS EN EL SISTEMA JUNTO CON SUS RESPECTIVAS CAMPAÑAS DE MERCADO A LAS QUE APLICAN.
            </h3>
            <button mat-raised-button color = "primary" (click) = "generarReporte()" >
                GENERAR
            </button>
        </div>
    </div>
</div>