<div class="body">
    <div class="izquierda">
        <div class="nosotros">
            <div class="titulo">
               <h2>
                   ACERCA DE NOSOTROS
               </h2>
            
            </div>
            <div class="texto">
                <h3>
                    Somos una empresa de servicios de redes y comunicacion enfocados en la eficiencia
                     y cumplimiento a los clientes. Nuestra experiencia en el mercado nos permite ofrecer altos estandares de calidad y servicio.
                </h3>
            </div>
        </div>
        <div class="imagen">
            <img class = "imagencita" src="../../../assets/img/imagenfull.png" >
        </div>
    </div>
    <div class="derecha">
        <div class="imagen">
            <img class = "imagencita" src="../../../assets/img/imagenfull.png"  >
        </div>
        <div class="nosotros">
            <div class="titulo">
               <h2>
                NUESTROS PRODUCTOS
               </h2>
            </div>
            <div class="texto">
                <h3>
                    Nuestros productos son de la mejor calidad en el mercado. Destacamos 
                    por la eficiencia de nuestros servicios en el negocio de las redes por todo el territorio Colombiano.
                </h3>
            </div>
        </div>
    </div>
</div>
