<div class="body">
    <div class="Ingreso">
        <H2>
            Bienvenido a
        </H2>
        <h1>
            OVAS WEBSITE
        </h1>
        <hr width="250" >
        <mat-form-field appearance="fill">
            <mat-label>Ingrese el usuario</mat-label>
            <input matInput maxlength="10"  [(ngModel)]= "usuarioAux" name = "usuarioAux" autocomplete="off" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"    required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese la Contraseña</mat-label>
            <input matInput  [(ngModel)]= "contrasenhaAux" name = "contrasenhaAux" type="password" autocomplete="off"   required>
        </mat-form-field>
        <button mat-raised-button color = "primary" (click)= "validarUsuarioContrasenha()">
            Ingresar
        </button>
    </div>
</div>
