<div class="body">
    <div class="asignar">
        <div class="titulo">
            <h2>
                ASIGNAR CAMPAÑAS
            </h2>
        </div>
        <div class="texto">
            <h3>
                EN ESTA VENTANA PUEDES REALIZAR EL PROCESO  DE ASIGNACION DE CAMPAÑAS DE MERCADO A TODOS LOS CLIENTES REGISTRADOS EN EL SISTEMA.
            </h3>
            <form (ngSubmit)= "asignarCampanhas()">
                <button mat-raised-button color = "primary" type="submit">
                    ASIGNAR
                </button>
            </form>
        </div>
    </div>
</div>